<!DOCTYPE html>

<html>
    <header>
        <title>Help</title>
        <link rel="icon" href="/images/weather.png" />
        <link rel="stylesheet" href="./css/styles.css" />
    </header>

    <body>
        <div class="main-content">
            {{>header}}
            <p>Sorry, nothing to see here. Check back soon!</p>
        </div>
        
        {{>footer}}
    </body>
</html>