<!DOCTYPE html>

<html>
    <header>
        <title>Help</title>
        <link rel="icon" href="/images/weather.png" />
        <link rel="stylesheet" href="./css/styles.css" />
    </header>

    <body>
        <div class="main-content">
            {{>header}}

            <div class="help-info">
                <p class="paragraph-info">We apologize for any issues. Here's another resource:</p>
                <a id="weather-link" href="https://weather.com/">Get The Weather</a>
            </div>
            

            <div>
                <p id="images" style="font-size:80px">&#9728;&#65039; &#127783; &#127752; &#9748;</p>
            </div>
            
        </div>
        
        {{>footer}}
    </body>
</html>