body {
    color: #333333;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    max-width: 700px;
    margin: 0 auto;
    padding: 0 16px;  
    background-color: #63a4ff;
    background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
    text-align: center;
}

.main-content {
    flex-grow: 1;
}

footer {
    color: #333333;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
    font-size: 20px;
}

header {
    margin-top: 15px;
    margin-bottom: 48px;
}

.paragraph-info {
    font-size: 25px;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

header a {
    color: #333333;
    margin-right: 8px;
    margin-left: 8px;
    text-decoration: none;
    font-size: 30px;
}

.portrait {
    width: 200px;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
    margin-bottom: 16px;
    width: 40%;
    margin-right: 5px;
}

button {
    background: #333333;
    border: 1px solid #888888;
    color: white;
    cursor: pointer;
    padding: 8px;
}

.search-button {
    background: white;
    color: #333333;
    border: 1px solid #cccccc;
    padding: 8px;
    margin-bottom: 16px;
}

#images {
    margin-top: 10px;
    margin-bottom: 40px;
}

#weather-link {
    font-size: 25px; 
}

.help-info {
    margin-bottom: 171px;
}